body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.container:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

label {
    display: block;
    margin-bottom: 12px;
    font-size: 18px;
}

input[type="range"] {
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
    appearance: none;
    background-color: #e0e0e0;
    height: 10px;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s ease;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 24px;
    height: 24px;
    background-color: #5e1f4e; /* Utilisation de la même couleur que le bouton */
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="range"]:hover,
input[type="range"]:focus {
    background-color: #d0d0d0;
}

input[type="range"]:hover::-webkit-slider-thumb,
input[type="range"]:focus::-webkit-slider-thumb {
    background-color: #5e1f4e;
}

button {
    margin-top: 25px;
    padding: 12px 24px;
    background-color: #5e1f4e; /* Utilisation de la même couleur */
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3c132e; /* Légèrement plus foncé au survol */
}

.result {
    margin-top: 25px;
    padding: 24px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 6px;
}

h3 {
    margin-bottom: 12px;
    color: #5e1f4e; /* Utilisation de la même couleur */
}

.form-check-input {
    background-color: #5e1f4e;
    border-color: #5e1f4e; /* Couleur de la bordure si nécessaire */
    color: #fff; /* Couleur du texte */
}

.form-check-input:checked {
    background-color: #3c132e; /* Couleur de fond lorsqu'il est coché */
    border-color: #3c132e; /* Couleur de la bordure lorsqu'il est coché si nécessaire */
}
